{% extends "layout.html" %}

{% block title %}
     : Contact
{% endblock %}

{% block head %}
<!-- Emailjs
<script src="./static/emailjs.js"></script>
<script type="text/javascript"src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
<script type="text/javascript">
(function() {
emailjs.init("user_kg2cjOzt7PsCPRUmXP60k");
})();
</script> -->
{% endblock %}

{% block ul %}
<li><a class="nav-link" href="/">Home</a></li>
<li><a class="nav-link" href="/about">About</a></li>
<li><a class="nav-link" href="/resume">Resume</a></li>
<li><a class="nav-link" href="/portfolio">Portfolio</a></li>
<li><a class="nav-link active" href="/contact">Contact</a></li>
{% endblock %}

{% block main %}
    <section id="contact" class="contact">
    <div class="container">
        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Me</p>
          </div>
    
          <div class="row mt-2">
    
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>My Address</h3>
                <p>Opp. RTO, Rajkot-360003, India.</p>
              </div>
            </div>
    
            <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
              <div class="info-box">
                <i class="bx bx-share-alt"></i>
                <h3>Social Profiles</h3>
                <div class="social-links">
                  <a href="https://github.com/Viraj-Ajani" class="github"><i class="bi bi-github"></i></a>
                  <a href="https://www.linkedin.com/in/viraj-ajani/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
    
            <div class="col-md-6 mt-4 d-flex align-items-stretch">
              <div class="info-box">
                <i class="bx bx-envelope"></i>
                <h3>Email Me</h3>
                <p> <a href="mailto:virajajani007@gmail.com"> virajajani007@gmail.com</a></p>
              </div> 
            </div>
            <div class="col-md-6 mt-4 d-flex align-items-stretch">
              <div class="info-box">
                <i class="bx bxl-linkedin"></i>
                <h3>Ping Me</h3>
                <p> <a href="https://www.linkedin.com/in/viraj-ajani/">Connect with me on LinkedIn.</a> </p>
              </div>
            </div>
          </div>
        <br>
            <!-- <div class="section-title"> -->
              <div class="banner">
              <img src="static/ThankYou.png" alt="Thank you for visiting.">
              </div>
          <!-- </div> -->
    </section>
{% endblock %}