{% extends "layout.html" %}

{% block title %}
     : Portfolio
{% endblock %}

{% block ul %}
<li><a class="nav-link" href="/">Home</a></li>
<li><a class="nav-link" href="/about">About</a></li>
<li><a class="nav-link" href="/resume">Resume</a></li>
<li><a class="nav-link active" href="/portfolio">Portfolio</a></li>
<li><a class="nav-link" href="/contact">Contact</a></li>
{% endblock %}

{% block main %}
<section>
     <form id="upload-file" method="post" enctype="multipart/form-data">
         <label for="imageUpload" class="upload-label">
             Choose...
         </label>
         <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
     
         <div>
             <button type="submit" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
         </div>
     </form>

     {% if filepath %}
     <img src="static/image.png" alt="img">
     {% endif %}
 </section>
{% endblock %}